@media screen and (min-width:320px) and (max-width:570px){
  
    header ul{
        flex-direction: column;
    }
    .parent-banner{
        flex-direction: column;
    }
    .banner-head{
        width: unset;
        text-align: center;
    }
    .footer-text i{
        left:78%;
    }
    .text-customer{
        width: unset;
    }
    .banner-image{
        width: unset;
    }
    .community-head{
        width: unset;
    }
    .text-rank{
        padding-right: 10%;
    }
    .footer-image{
        width: unset;
    }
    .user-community{
        flex-direction: column;
    }
    .box-user{
        width: unset;
    }
    .grade-flex {
        flex-direction: column;
    }
    .parent-footer{
        flex-direction: column;
    }
    .parent-rank {
        flex-direction: column;
    }
    .parent-customer{
        flex-direction: column;
    }
    .customer-image{
        width: unset;
    }
    .market-head {
        width:unset;
    }
    .parent-market {
        flex-direction: column;
        gap:40px;
    }
    .image-market {
        width: unset;
    }
    .box-market{
        width: unset;
    }
    .mini-box {
        width: 70%;
        left:17%;
    }
    .box1-market{
        width: unset;
    }
    .mini1-box {
        width: 70%;
        left:16%;
    }
    .box2-market{
        width: unset;
    }
    .mini2-box {
        width: 70%;
        left:16%;
    }
    .head-demo {
        width: unset;
    }
    footer{
        flex-direction: column;
    }
    .banner-head h1{
        text-align: center;
    }
    .banner-head p{
        text-align: center;
    }
    .text-grade{
        width: unset;
    }
    .client-image {
        gap:4px;
    }
    .grade-image {
        width: unset;
    }
    .footer-text{
        width: unset;
        text-align: center;
    }
    .login{
        display: none;
    }
    header ul{
        display: none;
    }
    .icon{
        display: block;
    }
}
@media screen and (min-width:571px) and (max-width:768px){

    .parent-market{
        flex-direction: column;
        gap:80px;

    }
    .footer-text i{
        left:62%;
    }
    .banner-image{
        width: unset;
    }
    .user-community{
        flex-direction: column;
    }
    .box-market{
        width: unset;
    }
    .mini-box{
        width: 40%;
        left:30%;
    }
     .box1-market{
        width: unset;
    }
    .mini1-box{
        width: 40%;
        left:30%;
    }
     .box2-market{
        width: unset;
    }
    .mini2-box{
        width: 40%;
        left:30%;
    }
    .box-user{
        width: unset;
        margin:10px;
    }
    .parent-banner{
        flex-direction: column;
    }
    .banner-head{
        width: unset;
        text-align: center;
    }
    header ul{
        flex-direction: column;
    }
    .community-head{
        width: unset;
    }
    .head-demo {
        width: unset;
    }
    .grade-flex{
        flex-direction: column;
    }
    .grade-image{
        width: unset;
    }
    .text-grade {
        width: unset;
    }
    .parent-rank{
        flex-direction: column;
    }
    .rank-text {
        width: unset;
    }
    .parent-footer{
        flex-direction: column;
    }
    .footer-image{
        width: unset;
    }
    .footer-text{
        width: unset;
        text-align: center;
    }
    .parent-customer{
        flex-direction: column;
    }
    .customer-image{
        width: unset;
    }
    .text-customer{
        width: unset;
    }
    footer{
        flex-direction: column;
    }

    .login{
        display: none;
    }
    header ul{
        display: none;
    }
    .icon{
        display: block;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
     .box-market{
        width: unset;
    }
    .mini-box{
        width: 20%;
        left:6%;
    }
     .footer-text i{
        left:52%;
    }
     .box1-market{
        width: unset;
    }
    .mini1-box{
        width: 20%;
        left:40%;
    }
     .box2-market{
        width: unset;
    }
    .mini2-box{
        width: 20%;
        left:74%;   
    }
    .parent-market{
        gap:20px;
    }
   
}